/* font-family */
@font-face {
  font-family: semibold-font;
  src: url("../fonts/Grocery/SF-Pro-Display/SF-Pro-Display-Semibold.otf");
}
@font-face {
  font-family: medium-font;
  src: url("../fonts/Grocery/SF-Pro-Display/SF-Pro-Display-Medium.otf");
}
@font-face {
  font-family: bold-font;
  src: url("../fonts/Grocery/SF-Pro-Display/SF-Pro-Display-Bold.otf");
}

@font-face {
  font-family: regular-font;
  src: url("../fonts/Grocery/SF-Pro-Display/SF-Pro-Display-Regular.otf");
}
@font-face {
  font-family: light-font;
  src: url("../fonts/Grocery/SF-Pro-Display/SF-Pro-Display-Light.otf");
}
@font-face {
  font-family: black-font;
  src: url("../fonts/Grocery/SF-Pro-Display/SF-Pro-Display-Black.otf");
}

/* font-family */

/* hover */
img:hover {
  transform: scale(1.1);
}
button:hover {
  transform: scale(1.1);
}
/* hover */

/* navbar */
.navbarSec {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 9;
}

.navbarUl li a {
  font-size: 16px;
  color: #000000;
  font-family: regular-font;
}

.navbarUl li i {
  font-size: 12px;
  color: #000000;
}
.navbarUl li a:hover {
  color: #3bd28c;
}
.active {
  background: #3bd28c;
  color: #000000;
}
.wishlist-count {
  font-size: 7px;
  padding: 0.1px 1.5px;
  border: 1px solid #ffbb44;
  background: #ffbb44 0% 0% no-repeat padding-box;
  border-radius: 50%;
  color: white;
  position: absolute;
  margin-left: -10px;
  margin-bottom: 4px;
}
.searchInput {
  border: none;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border-radius: 4px;
  text-align: left;
  font-family: light-font;
  letter-spacing: 0.64px;
  color: #bbbbbb;
}
.searchImg {
  width: 35px;
}
.locationText {
  font-size: 16px;
  color: #000000;
  font-family: regular-font;
}
.StoreImg img{
  width: 100%;
  object-fit: contain;
}
.StoreLocated{
  color: #888888;
  font-family: regular-font;
  font-size: 12px;
}
.nagarLocated{
  color: #000000;
  font-family: regular-font;
  font-size: 14px;
}
.moreInfo{
  color: #3BD28C;
  font-size: 13px;
  font-family: medium-font;
}
/* -- Navbar-- */
/* banner section */

.bannerSection {
  background-color: #e9faf3;
  height: 400px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.bannerSection img:hover{
  transform:none;
}

.carrotImg {
  position: absolute;
  right: -90px;
  top: 30px;
  margin-top: 30px;
}

.vegetableImg {
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 150px;
  z-index: 0;
}

.deliveryImg {
  position: absolute;
  right: 20%;
  width: 400px;
  bottom: 0;
  z-index: 0;
}


.bannerTitle {
  letter-spacing: 0px;
  color: #222222;
  text-transform: capitalize;
  font-family: light-font;
  /* font-size: 50px; */
}
.GroceryColor {
  text-align: left;
  font-family: black-font;
  letter-spacing: 0px;
  color: #3bd28c;
  text-transform: capitalize;
}
.bannerDesc {
  color: #222222;
  margin-bottom: 0px;
  /* font-size: 16px; */
  font-family: regular-font;
  max-width: 360px;
}

.orderBtn {
  background: #ffbb44 0% 0% no-repeat padding-box;
  border-radius: 32px;
  opacity: 1;
  text-align: center;
  font-family: semibold-font;
  letter-spacing: 4.22px;
  color: #ffffff;
  text-transform: uppercase;
}

/* banner section */
/* ----- */
/* header */

.shopCatSecbg {
  background: #f9f9f9;
  /* margin-top: 50px; */
}

.headingText {
  font-family: bold-font;
  color: #222222;
  text-transform: capitalize;
  /* font-size: 50px; */
 
}
.shopCatSec {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0vw 0.521vw 1.563vw #00000008;
  border-radius: 1.042vw;
  border: 0;
  text-align: center;
}
.shopCatImg {
  width: 71px;
  height: 70px;
}
.shopCatText {
  font-family: semibold-font;
  text-align: center;
  /* font-size: 20px; */
  /* font-size: 1.042vw; */
  color: #222222;
  text-transform: capitalize;
}

/* Featured Products */

.featuredProductsSec {
  border: none;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0vw 0.521vw 1.563vw #00000008;
  border-radius: 20px;
}

.featuredProductsImg {
  text-align: center;
}
.featuredProductsImg img {
  height: 191px;
  width: 100%;
  object-fit: contain;
}

.featuredProductsTextColor {
  font-family: medium-font;
  /* font-size: 0.729vw; */
  text-align: center;
  letter-spacing: 0.029vw;
  color: #3bd28c;
  text-transform: uppercase;
}
.featuredProductsText {
  font-family: medium-font;
  text-align: center;
  /* font-size: 1.042vw; */
  color: #222222;
}

.viewAllBtn {
  /* font-size: 0.938vw; */
  font-family: medium-font;
  background: #3bd28c 0% 0% no-repeat padding-box;
  border-radius: 22px;
  /* border-radius: 1.146vw; */
  text-align: center;
  letter-spacing: 0.037vw;
  color: #ffffff;
  text-transform: capitalize;
}

.percentageOffBtn {
  /* font-size: 0.729vw; */
  font-family: medium-font;
  text-align: center;
  color: #3bd28c;
  text-transform: uppercase;
  background: #e1fff1 0% 0% no-repeat padding-box;
  /* border-radius: 0.885vw; */
  border-radius: 17px;
}
.featuredProductsLight {
  /* font-size: 0.833vw; */
  font-family: regular-font;
  text-align: left;
  text-decoration: line-through;
  color: #555555;
}

.featuredProductsBold {
  font-family: bold-font;
  /* font-size: 1.042vw; */
  text-align: left;
  color: #222222;
}
.addCartBtn {
  /* position: absolute; */
  text-align: center;
  /* width: 210px;
  height: 44px; */
  /* font-size: 0.938vw; */
  background: #ffbb44 0% 0% no-repeat padding-box;
  border-radius: 22px;
  /* border-radius: 1.146vw; */
  font-family: medium-font;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
}

/* special Offer On */

.specialOfferOnSec {
  background: #3bd28c 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 30px #00000008;
  border-radius: 20px;
}

.specialOfferOnSecText p {
  font-family: italic;
  /* font-size: 30px; */
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
}
.specialOfferOnSecText h1 {
  font-size: light-font;
  /* font-size: 80px; */
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
}
.specialOfferOnSecText h2 {
  font-family: black-font;
  /* font-size: 80px; */
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
}

.specialOfferOnImg img {
  width: 100%;
  object-fit: cover;
}

/* special Offer On  */

/* top Brands */

.topBrandsBg {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
}
.topBrandsImg {
  text-align: center;
  /* width: 1508px; */
  /* height: 94px; */
}
.topBrandsImg img {
  mix-blend-mode: luminosity;
  opacity: 0.3;
  object-fit: contain;
  background-color: transparent;
}

/* top Brands */

/* storis */

.storisSec {
  border: none;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 30px #00000008;
  border-radius: 20px;
  opacity: 1;
}
.storisImg {
  text-align: center;
}
.storisImg img {
  width: 100%;
  object-fit: cover;
}
.storiesName {
  font-family: regular-font;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
  margin-bottom: 0;
}
.storisDate {
  font-family: regular-font;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #bbbbbb;
  opacity: 1;
  margin-bottom: 0;
}
.storisTextHeading {
  /* font-size: 28px; */
  font-family: bold-font;
  text-align: left;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
.storisText {
  font-family: regular-font;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}
.readMoreBtn {
  text-align: left;
  font: medium-font;
  letter-spacing: 0.36px;
  color: #3bd28c;
  opacity: 1;
}

.groceryWorkHeadingText {
  font-family: bold-font;
  letter-spacing: 0px;
  color: #222222;
  text-transform: capitalize;
}
.groceryWorkTextHeading {
  text-align: center;
  font-family: bold-font;
  letter-spacing: 0.6px;
  color: #222222;
  opacity: 1;
}
.groceryWorkText {
  text-align: center;
  font-family: regular-font;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}
/* storis */
/* footer */

.groceryContInfo {
  font-family: regular-font;
  letter-spacing: 0px;
  color: #888888;
}
.topCities,
.categories,
.aboutUs,
.downloadApp,
.followUs {
  text-align: left;
  font-family: bold-font;
  letter-spacing: 0.22px;
  color: #222222;
}
.topCitiesInfo p {
  text-align: left;
  font-family: regular-font;
  letter-spacing: 0px;
  color: #888888;
}
.topCitiesInfoPt {
  padding-top: 40px;
}
.appStoreImg {
  object-fit: contain;
  width: 123px;
  height: 48px;
}
.copyrightText {
  font-family: regular-font;
  text-align: center;
  letter-spacing: 0px;
  color: #bbbbbb;
}
.socialLinks img:hover {
  background-color: #fb4;
  transform: scale(1.2);
}
/* footer */
